body {
    font-family: Arial, sans-serif;
    background-color: #6699ff ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: blue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

h1 {
    text-align: center;
    color: #fff;
}

.new-post {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#postContent {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #007;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#posts {
    margin-top: 20px;
}

.post {
    background: gray ;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

.post button {
    position: absolute;
    top: 0,5px;
    right: 0,5px;
    background: gray ;
}

.post button:hover {
    background: #ff1a1a;
}

